

  .card-inner {
    // image{
    //   vertical-align: middle;
    // // max-width: 100%;
    // width: 230px;
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
    // // width: 50%;
    // }
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.2));
    border-radius: 5px;
    background: #fff;
    padding: 16px;
	  height: 250px;
	  margin: 5px;
  }