.life{
    .main {
        margin: auto;
        width: 50%;
        padding: 166px 190px;
        text-align: center;
    }
    .life-heading h1 {
        font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    margin-top: 48px;
    color: rgba(0, 0, 0, 0.87);
    }
}

