.sign-in-and-sign-up {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 64px;
    margin: 30px auto;
    padding: 32px;
  }

  .subtitle {
    display: block;
    margin-bottom: 16px;
}